:root {
  --amarelo-bob: #ffeb3b;
  --amarelo-sombra: #f0c800;
  --branco: #ffffff;
  --azul-olhos: #3b9eff;
  --azul-escuro: #0080ff;
  --azul-mais-escuro: #04509d;
  --azul_acinzentado: #436c95;
  --azul-oceano-claro: #b8e7f2;
  --rosa-agua-viva: #ff91c0;
  --roxo-pedra: #a67eb4;
  --gelo: #f6f5f5;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

#menu-lateral {
  background-color: var(--azul-mais-escuro);
  width: 19%;
  position: fixed;
  height: 100vh;
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
}

#menu-lateral .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

.logo .linha {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;
}

.logo .espaco {
  width: 20px;
}

.logo .letra {
  font-family: 'SpongeboyRegular', sans-serif;
  font-size: 1.9rem;
  display: inline-block;
  background: url('./assets/fontes/textura\ bob\ esponja.jpg') center center / 200% no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hello {
  font-size: 1.5rem;
  color: var(--gelo);
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 1%;
  text-align: center;
}

#menu-lateral nav ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

#menu-lateral nav ul li {
  display: flex;
  align-items: center;
  padding: 10% 10%;
  transition: background-color 0.3s;
  gap: 12px;
}

#menu-lateral nav ul li:hover {
  background-color: var(--azul-escuro);
  cursor: pointer;
  border-left: 4px solid var(--amarelo-bob);
}

#menu-lateral nav ul li span.material-symbols-outlined {
  font-size: 2.3rem;
  color: var(--amarelo-bob);
}

#menu-lateral nav ul li a {
  color: var(--gelo);
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s;
}

#menu-lateral nav ul li:hover a {
  color: var(--branco);
}

#menu-lateral nav ul li.ativo {
  background-color: var(--azul_acinzentado);
  border-left: 4px solid var(--amarelo-sombra);
}

#menu-lateral nav ul li.ativo span.material-symbols-outlined {
  animation: pulse 1.5s infinite;
}

.perfil-avatar {
  margin-left: 28%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid var(--azul-escuro);
  transition: all 0.3s;
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.1);
    opacity: 0.85;
  }
}

.tela-inicial {
  margin-left: 19%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 81%;
  background-color: var(--azul-escuro);
}

.titulo_telaInicial {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;
}

.letra {
  font-family: 'SpongeboyRegular', sans-serif;
  font-size: 2.5rem;
  display: inline-block;
  background: url('./assets/fontes/textura\ bob\ esponja.jpg') no-repeat;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.espaco {
  width: 20px;
  display: inline-block;
}

.descricao {
  font-size: 1.7rem;
  margin-bottom: 5%;
  width: 70%;
  color: var(--amarelo-bob);
  text-align: center;
}

.tela-inicial button {
  padding: 10px 20px;
  font-size: 1.5rem;
  background: var(--amarelo-bob);
  color: var(--azul-mais-escuro);
  border: 2px solid var(--amarelo-sombra);
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tela-inicial button:hover {
  background-color: var(--roxo-pedra);
  border-color: var(--rosa-agua-viva);
  color: var(--rosa-agua-viva);
}

.tela-cruzadinha {
  display: none;
  background-color: var(--azul-olhos);
  height: 100vh;
  background-size: cover;
  width: 100%;
}

.container {
  height: 600px;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.layout {
  margin-left: 1%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

table {
  border-collapse: collapse;
  margin: 0;
  margin-top: 6%;
}

td {
  width: 30px;
  height: 30px;
  border: 1px solid #0e061e;
  text-align: center;
  vertical-align: top;
  background-color: var(--azul_acinzentado);
  position: relative;
}

td.cell {
  background-color: var(--branco);
}

td input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
}

td input:focus {
  outline: none;
  background: var(--azul-oceano-claro);
}

.number {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 10px;
  color: var(--azul-mais-escuro);
}

.corretas {
  background-color: #c8facc !important;
}

.incorretas {
  background-color: #ffcaca !important;
}

.dicas {
  margin-top: 4%;
  padding: 10px;
  text-align: left;
  border: 1px solid var(--azul-mais-escuro);
  border-radius: 5px;
  width: 39.5%;
  box-sizing: border-box;
  background-color: var(--branco);
}

.dicas span {
  color: var(--azul-escuro);
}

.dicas li {
  font-size: 1.1rem;
  color: #000;
  list-style: none;
  margin-bottom: 2px;
}

.titulo_dicas {
  display: flex;
  margin-bottom: 10px;
  font-size: 3rem;
  padding: 0;
  font-weight: 800;
  color: var(--azul-mais-escuro);
}

.timer {
  justify-content: end;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--azul-mais-escuro);
  margin-top: 4%;
  margin-left: 35%;
  border: 1px solid var(--azul-mais-escuro);
  border-radius: 30px;
  width: 35%;
  height: 25px;
  text-align: center;
  background-color: var(--azul-oceano-claro);
}

#verificar_respostas {
  background-color: var(--amarelo-bob);
  color: var(--azul-mais-escuro);
  margin-top: 20px;
  padding: 10px 20px;
  border: 2px solid var(--amarelo-sombra);
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.3rem;
  transition: background-color 0.3s;
}

#verificar_respostas:hover {
  background-color: var(--roxo-pedra);
  color: var(--rosa-agua-viva);
  border: 1px solid var(--rosa-agua-viva);
}

.tela-feedback {
  display: flex;
  margin-left: 19%;
  height: 100vh;
  width: 81%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--azul-escuro);
  text-align: center;
}

.tela-feedback h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.tela-feedback p {
  font-size: 1.7rem;
  margin-bottom: 20px;
  color: var(--amarelo-bob);
}

#feedback {
  font-weight: bold;
  margin-top: 10px;
}

.tela-feedback button {
  padding: 10px 20px;
  font-size: 1.5rem;
  background: var(--amarelo-bob);
  color: var(--azul-mais-escuro);
  border: 2px solid var(--amarelo-sombra);
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tela-feedback button:hover {
  background-color: var(--roxo-pedra);
  border-color: var(--rosa-agua-viva);
  color: var(--rosa-agua-viva);
}