:root {
    --amarelo-bob:        #ffeb3b;
    --amarelo-sombra:     #f0c800;
    --marrom-calca:       #8b5e3c;
    --branco:      #ffffff;
    --vermelho-gravata:   #ff0000;
    --preto-sapato:       #000000;
    --azul-olhos:         #3b9eff;
    --azul-escuro:#0080ff;
    --azul-oceano-claro:  #b8e7f2;
    --azul-submarino:     #7fd6e3;
    --verde-alga:         #7cd3a3;
    --verde-escuro: #029c47 ;
    --rosa-agua-viva:     #ff91c0;
    --roxo-pedra:         #a67eb4;
    --areia-fundo-mar:    #f2e1a1;
    --azul-esverdeado-logo: #ADD8E6;
    --gelo: #f6f5f5;
  }

  .bolhas-container {
    position: absolute; /* Agora relativo à div .banner */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Só dentro do banner */
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
  }
  
  .bolha {
    position: absolute;
    bottom: -100px;
    background-image: url('../img/bolhas.png');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    animation: subir 8s linear infinite;
  }
  
  /* Animação de subida */
  @keyframes subir {
    0% {
      transform: translateY(0) scale(1);
      opacity: 0.8;
    }
    100% {
      transform: translateY(-120vh) scale(1.5);
      opacity: 0;
    }
  }

  a{
    text-decoration: none;
  }

  html, body {
    width: 100%;
    overflow-x: hidden; /* Impede a barra de rolagem horizontal */
    margin: 0; /* Remove margens padrão que podem causar bordas */
    padding: 0; /* Remove paddings padrão que podem causar bordas */
}

body{
  width: 100%;
  font-family: 'Poppins', sans-serif;
  cursor: url('../img/agua-viva.png'), auto;
}


button,
a,
input[type="submit"],
input[type="button"],
.clickable {
cursor: url('../img/rede.png'), auto;
}

@font-face {
    font-family: 'SpongeboyRegular';
    src: url('../Fontes/SpongeboyRegular.woff2') format('woff2'),
         url('../Fontes/SpongeboyRegular.woff') format('woof');
    font-weight: normal;
    font-style: normal;
  }

  .header{
    background-color: var(--azul-submarino);
    width: 100%;
    position: fixed;
    border-bottom: var(--azul-olhos);
    height: 85px;
    z-index: 10; /* maior que o z-index da .bolhas-container (que é 0) */
  }

  .header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
  }

  .titulo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;
    text-decoration: none;
  }
  
  .letra {
    font-family: 'SpongeboyRegular', sans-serif;
    font-size: 30px;
    display: inline-block;
    background: url('../Fontes/textura\ bob\ esponja.jpg') center center / 200% no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: none;
  }
  
  .espaco {
    width: 20px; /* ajusta o espaço visível */
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--azul-submarino);
    list-style: none;
    width: 300px;
    align-items: center;
  }
  
  .navbar li {
    position: relative; /* Aqui garante que o ::after se posicione dentro do li */
    color: var(--amarelo-bob);
  }
  
  .navbar a {
    color: var(--amarelo-bob);
    text-decoration: none;
    font-size: 15px;
    position: relative;
    display: inline-block;
    padding: 4px 8px;
  }
  
  .navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Ajusta pra linha aparecer logo abaixo do texto */
    width: 100%;
    height: 2px;
    background-color: var(--amarelo-sombra);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease;
  }
  
  .navbar a:hover::after {
    transform: scaleX(1);
  }

  .navbar img{
    width: 45px;
    height: 45px;
  }
  
  .agora{
    font-weight: bolder;
  }

.containerCadastro{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/fundo_do_mar.jpg");
    background-size: cover;
    position: relative; /* Importante para posicionar a bolhas-container dentro */
    z-index: 1;
    overflow: hidden;
    flex-direction: column;
    padding-top: 100px ;
}

.boxCadastro{
    width: 35%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    background-color: #fff;
    align-items: center;
}
.Card{
    border: 2px solid var(--amarelo-bob);
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.buttonsForm{
    margin-top: 15px;
    position:relative;
    border-radius: 30px;
    box-shadow: 0 0 7px 0 var(--amarelo-bob);
}

.buttonsForm button{
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
    padding: 10px 29px;
}


.btnColor {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: var(--amarelo-bob); /* ou a cor que você quiser */
    transition: all 0.3s ease;
    left: 50%; /* Já começa no "Cadastro" */
    border-radius: 30px;
}

.formulario{
    width: 100%;
    height: 60%;    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.formulario input{
    width: 80%;
    height: 20px;    
    border: 1px solid var(--azul-olhos);
    border-radius: 20px;
    padding: 10px;
}
.formulario input::placeholder {
    color: var(--azul-olhos);
  }

.btnCadastro button {
    text-align: center;
    border: 1px solid var(--amarelo-sombra);
    background-color: var(--amarelo-bob);
    width: 100%;
    height: 45px;
    border-radius: 30px;
    cursor: pointer;
        text-align: center;
        font-size: 1rem;
        font-weight: bolder;
        color: var(--preto-sapato);
}

.titleCadastro{
    padding: 5px;
    width: 100%;
    height: 25px;
    color: var(--rosa-agua-viva);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;

}

.titleCadastro h1{
    font-size: 25px;
    font-weight: 800;
    font-family: 'SpongeboyRegular', sans-serif;
}

.btn{
    padding: 10px;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerSenha {
    display: flex; /* Define um layout flexível */
    font-size: smaller;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    color: #B0B0B0;
}

.cardSenha span {
    font-size: 1rem;
}

#div_mensagemSenhas{
    display: none; 
    color: red;
    width: 80%;
    align-items: flex-start;
    font-size: smaller;
}

/*RODAPE*/
.rodape{
  width: 100%;
  height: 350px;
  background-color: var(--azul-submarino);
  border-top: var(--azul-olhos);
  justify-content: center;
  align-items: center;
}

.rodape .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 550px 50px 350px;
  width: 50%;
  flex-direction: column;
}

.rodape .menu{
  display: flex;
    justify-content: space-between;
    background-color: var(--azul-submarino);
    list-style: none;
    width: 50%;
    align-items: center;
}

.rodape_home{
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  color:var(--amarelo-bob);
  padding: 20px 0 20px 0;
}

.rodape a{
  color: var(--amarelo-bob);
text-decoration: none;
}

.rodape img{
  width: 45px;
  height: 45px;
}