:root {
  --rosa-patrick: #fe87f6;
    --rosa-mais-claro: #FFB4FA;
    --rosa-mais-escuro: #d051d0;
    --rosa-mais-escuro2: #b036b0;
    --rosa-mais-escuro2: #8a228a;    
    --amarelo-bob: #ffeb3b;
    --amarelo-sombra: #f0c800;
    --marrom-calca: #8b5e3c;
    --branco: #ffffff;
    --vermelho-gravata: #ff0000;
    --preto-sapato: #000000;
    --azul-olhos: #3b9eff;
    --azul-escuro: #0080ff;
    --azul-mais-escuro: #04509d;
    --azul_acinzentado: #436c95;
    --azul-oceano-claro: #b8e7f2;
    --azul-submarino: #7fd6e3;
    --verde-alga: #7cd3a3;
    --verde-escuro: #029c47;
    --rosa-agua-viva: #ff91c0;
    --roxo-pedra: #a282be;
    --roxo-claro: #dbb2ff;
    --roxo-escuro: #735d86;
    --areia-fundo-mar: #f2e1a1;
    --azul-esverdeado-logo: #ADD8E6;
    --gelo: #f6f5f5;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    display: flex;
  }
  
  .menu-lateral {
    background-color: var(--azul-mais-escuro);
    width: 19%;
    position: fixed;
    height: 100vh;
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  }
  
  .menu-lateral .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
  }
  
  .logo .linha {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;
  }
  
.logo .espaco {
    width: 20px;
  }
  
.logo .letra {
    font-family: 'SpongeboyRegular', sans-serif;
    font-size: 1.9rem;
    display: inline-block;
    background: url('./assets/img/textura\ bob\ esponja.jpg') center center / 200% no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  
  .hello {
    font-size: 1.5rem;
    color: var(--gelo);
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 1%;
    text-align: center;
  }
  
  .menu-lateral nav ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
  }
  
  .menu-lateral nav ul li {
    display: flex;
    align-items: center;
    padding: 10% 10%;
    transition: background-color 0.3s;
    gap: 12px;
  }
  
  .menu-lateral nav ul li:hover {
    background-color: var(--azul-escuro);
    cursor: pointer;
    border-left: 4px solid var(--amarelo-bob);
  }
  
  .menu-lateral nav ul li span.material-symbols-outlined {
    font-size: 2.3rem;
    color: var(--amarelo-bob);
  }
  
  .menu-lateral nav ul li a {
    color: var(--gelo);
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .menu-lateral nav ul li:hover a {
    color: var(--branco);
  }
  
  .menu-lateral nav ul li.ativo {
    background-color: var(--azul_acinzentado);
    border-left: 4px solid var(--amarelo-sombra);
  }
  
  .menu-lateral nav ul li.ativo span.material-symbols-outlined {
    animation: pulse 1.5s infinite;
  }
  
  @keyframes pulse {
  
    0%,
    100% {
      transform: scale(1);
      opacity: 1;
    }
  
    50% {
      transform: scale(1.1);
      opacity: 0.85;
    }
  }
  
  #tela_inicial,
  #tela_jogo,
  #tela_gameOver {
    margin-left: 19%;
    padding: 40px 30px;
    width: 81%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--rosa-patrick);
  }
  
  .titulo_telaInicial {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 15px;
    user-select: none;
    display: flex;
    gap: 4px;
  }
  
  .titulo_telaInicial .letra {
        font-family: 'SpongeboyRegular', sans-serif;
        font-size: 3.2rem;
        display: inline-block;
        background: url('./assets/img/textura\ bob\ esponja.jpg') no-repeat;
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
  }
  
  .titulo_telaInicial .espaco {
    width: 20px;
  }
  
  /* Descrição */
  .descricao {
    font-size: 1.7rem;
    margin-bottom: 25px;
    color: var(--preto-sapato);
    text-align: center;
  }
  
  .gary_inicial {
    width: 200px;
    height: auto;
    margin-bottom: 25px;
  }
  
  .botao_play {
    background-color: var(--rosa-mais-escuro);
    color: white;
    font-size: 36px;
    border: none;
    border-radius: 30px;
    width: 17%;
    height: 10%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    border:1px solid var(--rosa-mais-escuro2);
  }
  
  .botao_play:hover {
    background-color: var(--rosa-mais-escuro2);
  }
  
  /* Tela de jogo */
  #tela_jogo {
    flex-direction: column;
  }
  
  .pontuacao {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--preto-sapato);
  }
  
  .tela_menor {
    position: relative;
    background-color: #fff;
    width: 500px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(44, 62, 80, 0.3);
    overflow: hidden;
  }
  
  /* Gary e Snail Bites */
  .gary {
    position: absolute;
    width: 75px;
    height: 75px;
    user-select: none;
  }

  .snail_bites{
    position: absolute;
    width: 50px;
    height: 50px;
    user-select: none;
  }
  
  /* Game Over */
  #tela_gameOver {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #tela_gameOver h1 {
    font-size: 2.5rem;
    color: var(--rosa-mais-escuro2);
    margin-bottom: 15px;
  }
  
  #tela_gameOver .pontuacao {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: var(--preto-sapato);
  }

  #tela_gameOver img {
    width: 200px;
    height: auto;
    margin-bottom: 5%;
  }
  
  .botao_reiniciar {
    background-color: var(--rosa-mais-escuro);
    color: white;
    font-size: 36px;
    border: none;
    border-radius: 30px;
    width: 17%;
    height: 10%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    border:1px solid var(--rosa-mais-escuro2);
  }
  
  .botao_reiniciar:hover {
    background-color: (--rosa-mais-escuro2);
  }
  